.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/8.10.2
/.gradle/buildOutputCleanup
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/8.10.2
/.gradle/buildOutputCleanup
.gradle/file-system.probe
.idea/caches/deviceStreaming.xml
.idea/compiler.xml
.idea/git_toolbox_blame.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.gradle/8.10.2/executionHistory/executionHistory.bin
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/8.10.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/kotlin/errors/errors-1741918727715.log
.kotlin/errors/errors-1741918727715.log
